#output-input {
  border-radius: 50%;
  width: 80px;
  height: 75px;
  text-align: center;
  font-size: 16px;
}
#start-btn {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: rgb(23, 147, 214);
  border: rgb(36, 36, 131);
  color: antiquewhite;
  font-size: 16px;
}

#start-btn:disabled {
  background-color: rgb(153, 153, 156);
  color: black;
}
#start-btn:hover {
  background-color: rgb(2, 113, 173);
}
